# Environment secrets
.env
# AppMap Output
app/tmp/appmap

# Database cache or local files
*.db
# *.sql
*.sqlite
*.sqlite3
*.json
# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class
static/
.env.test
# Docker volumes
volumes/

# Docker container logs
docker-logs/
static/index.html
static/prototype.html
